<h1>Display of Students</h1>

<!---- DRAW STUDENTS HERE /--->
<table>
  <% @students.each do |student| %>
  <td> 
    <div style= "position:relative; width:<%=student.weight%>px;height:<%=student.height%>px; padding: 10px">
    <center><font size= "+3" color="<%=student.colour%>"><%=student.name%><br/> <%=student.gpa%> </font> </center>
    <img src="/stickman.png" alt="stickman" style="width:<%=student.weight%>px;height:<%=student.height%>px; border: solid 5px <%=student.colour%>;" />
    </div>
  </td>
  <% end %>
</table>



<%= link_to 'Back', students_path %>