<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Colour</th>
      <th>GPA</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.weight %></td>
        <td><%= student.height %></td>
        <td><%= student.colour %></td>
        <td><%= student.gpa %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
<!---link_to 'Draw all students', '/students/display' %>--->

<table>
  <% @students.each do |student| %>
  <td> 
    <div style= "position:relative; width:<%=student.weight%>px;height:<%=student.height%>px; padding: 10px">
    <center><font size= "+3" color="<%=student.colour%>"><%=student.name%><br/> <%=student.gpa%> </font> </center>
    <img src="/stickman.png" alt="stickman" style="width:<%=student.weight%>px;height:<%=student.height%>px; border: solid 5px <%=student.colour%>;" />
    </div>
  </td>
  <% end %>
</table>