<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @student.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @student.height %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @student.colour %>
</p>

<p>
  <strong>Gpa:</strong>
  <%= @student.gpa %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
<br/>

<div style= "position:relative; width:<%=@student.weight%>px;height:<%=@student.height%>px; padding 10px">
  <center><font size= "+3" color="<%=@student.colour%>"><br/><%=@student.name%><br/> <%=@student.gpa%> </font> </center>
  <img src="/stickman.png" alt="stickman" style="width:<%=@student.weight%>px;height:<%=@student.height%>px; border: solid 5px <%=@student.colour%>;" />
</div>